@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {background: url("../assets/images/bg-stars.svg") no-repeat hsl(234, 17%, 12%);background-size: 100% 100%;height: 100vh;display: flex;justify-content: space-between;flex-direction: column;font-family: 'Red Hat Text', sans-serif;font-size: 14px;text-transform: uppercase;}
.content-timer {display: flex;flex-direction: column;justify-content: space-between;align-items: center;text-align: center;height: calc(100vh - 200px);padding: 10% 0;box-sizing: border-box;}
.content-timer h1 {color: hsl(0, 0%, 100%);font-size: 1.8em;}
.content-timer__timer {display: flex;justify-content: space-between;align-items: center;}
.content-timer__timer___digits {margin: 20px;width: 145px;}
.content-timer__timer___digits____content {font-size: 6em;position: relative;padding: 15px;text-align: center;color: hsl(345, 95%, 68%);}
.content-timer__timer___digits____content .digit-back {position: absolute;z-index: 0;top: 0;left: 0;padding: 15px;width: 100%;box-sizing: border-box;transform-origin: 50% 0;}
.content-timer__timer___digits____content .digit {position: relative;z-index: 2;transform-origin: 50% 100%;}
.content-timer__timer___digits____content_____bg-up,
.content-timer__timer___digits____content_____bg-down,
.content-timer__timer___digits____content_____bg-overlay {width: 100%;height: 50%;border-radius: 10px;position: absolute;z-index: 1;}
.content-timer__timer___digits____content_____bg-up,
.content-timer__timer___digits____content_____bg-overlay {background: hsl(230, 21%, 26%);top: 0;left: 0;box-shadow: 0 1px 10px rgba(0,0,0,.3);}
.content-timer__timer___digits____content_____bg-overlay {background: rgba(0,0,0,.3);z-index: 3;box-shadow: none;}
.content-timer__timer___digits____content_____bg-down {background: hsl(236, 21%, 26%);bottom: 0;left: 0;box-shadow: 0 8px 3px rgba(0,0,0,.3);}
/*.animate .content-timer__timer___digits____content_____bg-up {animation: flipup .5s linear both;}*/
/*.animate .content-timer__timer___digits____content_____bg-down {animation: flipdown .5s .5s linear both;}*/
.content-timer__timer___digits h3 {padding: 15px;color: hsl(237, 18%, 59%);}
.social-media {background: url("../assets/images/pattern-hills.svg") no-repeat hsl(234, 17%, 12%);background-size: 100% 100%;width: 100%;display: flex;justify-content: center;align-items: center;padding: 0;height: 200px;}
.social-media a.social-media-link {width: 32px;height: 32px;margin: 40px 15px 0;}
.social-media a.social-media-link.facebook:after {content: url("../assets/images/icon-facebook.svg");}
.social-media a.social-media-link.pinterest:after {content: url("../assets/images/icon-pinterest.svg");}
.social-media a.social-media-link.instagram:after {content: url("../assets/images/icon-instagram.svg");}

@keyframes flipdown {
    0% {transform: rotateX(90deg);}
    80% {transform: rotateX(5deg);}
    90% {transform: rotateX(15deg);}
    100% {transform: rotateX(0deg);}
}
@keyframes flipup {
    0% {transform: rotateX(0deg);}
    90% {transform: rotateX(0deg);}
    100% {transform: rotateX(-90deg);}
}
